---
layout: layouts/base.njk
title: Hiroki Tani - Troiiika
---

<article class="p-author">
  <header class="p-author__header">
    <img src="/assets/img/hiloki.jpg" alt="Hiroki Taniの写真" class="p-author__avatar">
    <h1 class="p-author__title">Hiroki Tani</h1>
  </header>
  <div class="p-author__body">
    <section class="p-author__section">
      <h2>Biography</h2>
      <p>中小企業向けの事業ベンチャーから、フリーランスでの受託、起業などを経験。Web のフロントエンド開発だけでなく、UI 設計・デザイン・ディレクションおこなう。現在は株式会社サイバーエージェントのフロントエンドエンジニア、UX エンジニアとして従事。その他講演活動、技術書の執筆もおこなう。代表著書『Web制作者のためのCSS設計の教科書』</p>
    </section>
  </div>
</article>
