---
layout: layouts/base.njk
title: Styleguide - Troiiika
---

<section class="p-styleguide">
    <h2 class="p-styleguide__title">Styleguide</h2>
  <section class="p-styleguide__section">
    <h3 class="p-styleguide__subhead">Color</h3>
    <ul class="p-styleguide__swatch">
      <li>
        <div class="p-swatch" style="background-color: #ebe5dc">
        milk
        </div>
      </li>
      <li>
        <div class="p-swatch --invert" style="background-color: #1d1c1d">
        coffee
        </div>
      </li>
    </ul>
  </div>
</section>
