/* $modularscale: (
  base: 18px,
  ratio: 1.25
); */

:root {
  /* Major Third = 1.25 */
  --root-font-size: 18px;
  --font-size-20: 0.66667rem;
  --font-size-30: 0.75rem;
  --font-size-40: 0.85714rem;
  --font-size-50: 1rem;
  --font-size-60: 1.2rem;
  --font-size-70: 1.5rem;
  --font-size-80: 2rem;

  --base-font-size: var(--root-font-size);

  --line-height-50: calc(20px / var(--root-font-size)); /* 20px / 18px */
  --line-height-60: calc(24px / var(--root-font-size)); /* 24px / 18px */
  --line-height-70: calc(28px / var(--root-font-size)); /* 28px / 18px */
  --line-height-80: calc(32px / var(--root-font-size)); /* 32px / 18px */

  --base-line-height: var(--line-height-70);

  --color-ink: #010201;
  --color-milk: #f8f7f4;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  line-height: var(--base-line-height);
  line-height: 1.55;
  line-height: calc(28px / var(--root-font-size));
  font-size: var(--base-font-size);
  background-color: var(--color-milk);
  color: var(--color-ink);
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

ul,
dl,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

/* Header */
.p-header {
  padding: 18px;
  text-align: center;
}

.p-header__image {
  max-width: 100%;
  width: 576px;
  height: 320px;
}

/* Title */
.p-title {
  font-weight: normal;
  font-family: "Lexend Exa";
}

/* Content area */
.p-content {
}

/* Log list */
.p-logList {
  list-style: none;
  /* display: flex; */
  /* flex-wrap: wrap; */
  margin: 0;
  padding: 0;
}

.p-logList__item {
  flex: 0 0 100%;
  padding: 18px;
}

@media (min-width: 566px) {
  .p-logList__item {
    flex: 0 0 50%;
  }
}

@media (min-width: 1280px) {
  .p-logList__item {
    flex: 0 0 33%;
  }
}

/* Article */
.p-article {
  padding: 18px;
}

.p-article__header {
}
.p-article__pubdate {
}
.p-article__title {
  font-size: 1rem;
}

/* Author */
.p-author {
  padding: 18px;
}

.p-author__header {
  text-align: center;
}

.p-author__title {
}

.p-author__avatar {
  border-radius: 50%;
  width: 128px;
  height: 128px;
}

/* Publication List */
.p-publicationList {
  display: flex;
  flex-wrap: wrap;
}

.p-publicationList > * {
  text-align: center;
}

.p-publicationList > * + * {
  margin-left: 9px;
  margin-right: 9px;
}

.p-publicationList__cover {
  width: auto;
  height: 320px;
}

/* Footer */
.p-footer {
  padding: 18px;
  text-align: center;
}

/* Styleguide */
.p-styleguide {
}

.styleguide__subhead {
  font-size: 18px;
}

.p-styleguide__swatch {
  display: flex;
  flex-wrap: wrap;
}

.p-styleguide__swatch > * {
  margin-right: 9px;
}

/* Swatch */
.p-swatch {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 6px solid #fff;
  width: 120px;
  height: 120px;
  text-transform: uppercase;
}

.p-swatch.--invert {
  color: #ebe5dc;
}

/* Typography */
.p-typography.-size-30 {
  font-size: var(--font-size-30);
}
.p-typography.-size-40 {
  font-size: var(--font-size-40);
}
.p-typography.-size-50 {
  font-size: var(--font-size-50);
}
.p-typography.-size-60 {
  font-size: var(--font-size-60);
}
.p-typography.-size-70 {
  font-size: var(--font-size-70);
}
.p-typography.-size-80 {
  font-size: var(--font-size-80);
}
.p-typography.-size-90 {
  font-size: var(--font-size-90);
}
.p-typography.-size-100 {
  font-size: var(--font-size-100);
}
