:root {
  --base-color-milk: #faf8f3;
  --base-color-cinnamon: #bb9377;
  --base-color-light: #aa7855;
  --base-color-city: #886044;
  --base-color-full-city: #553c2b;
  --base-color-dark: #33241a;
  --base-color-french: #221811;
  --base-color-italian: #110c09;
  --base-color-matcha: #83b56c;
  --base-color-au-lait: rgba(187, 147, 119, 0.5);
  --base-font-ja: sans-serif;
  --base-font-en: "Ubuntu", sans-serif;

  --font-en: var(--base-font-en);
  --background-color: var(--base-color-milk);
  --line-color-highlight: var(--base-color-matcha);
  --text-color: var(--base-color-french);
  --text-link-color: var(--base-color-city);
  --text-size-body: 16px;
  --text-size-heading: 24px;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  margin: 0;
}

h1,
p {
  margin: 0;
}

img,
svg {
  vertical-align: middle;
}

a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}

.c-icon {
  fill: currentColor;
}

.p-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 92vh;
}

.p-title {
  text-align: center;
  font-size: var(--text-size-heading);
}
.p-title-logo {
  width: 4em;
  height: 4em;
}
.p-title-name {
  margin-top: 0.25em;
  display: block;
  font-family: var(--font-en);
  font-weight: bold;
  font-size: var(--text-size-heading);
}

.p-lead {
  margin-top: 1.5em;
  text-align: center;
  line-height: 1.77;
  font-family: var(--font-en);
  font-size: var(--text-size-body);
}
.p-lead-link {
  position: relative;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  transition: padding-left 300ms ease-out;
}

.p-lead-link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid var(--line-color-highlight);
}

.p-lead-link .c-icon {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  width: 1.5em;
  height: 1.5em;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms linear, transform 300ms ease-out;
}
.p-lead-link:hover {
  padding-left: 1.5em;
}
.p-lead-link:hover .c-icon {
  visibility: visible;
  opacity: 1;
}

.p-me {
  position: fixed;
  right: -64px;
  bottom: -32px;
}
.p-me-image {
  width: 256px;
  height: auto;
  clip-path: url(#me-mask);
  filter: grayscale(100%);
}

@media (min-width: 480px) {
  :root {
    --text-size-body: 24px;
    --text-size-heading: 36px;
  }
  .p-me {
    position: fixed;
    right: -96px;
    bottom: -48px;
  }
  .p-me-image {
    width: 384px;
    height: auto;
    clip-path: url(#me-mask);
  }
}
