---
layout: layouts/base.njk
title: troiiika
---
<ul class="p-logList">
{%- for post in collections.log | reverse -%}
  <li class="p-logList__item">
    <p><a href="{{ post.url }}"><time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time></a></p>
    {{ post.templateContent | safe }}
  </li>
{%- endfor -%}
</ul>
