---
layout: layouts/base.njk
title: Troiiika
---
<article class="p-article">
<header class="p-article__header">
  <h1 class="p-article__title"><time datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time></h1>
</header>
{{ content | safe }}
</article>

